<app-top-bar></app-top-bar>
<meta name="viewport" #gameCanvas content="width=device-width, initial-scale=1">
<div class="game-row">
<div class="score-block">
  <h3>{{this.gameState.left?.username}}</h3>
  <h1>{{this.gameState.left?.score}}</h1>
  <h1>{{this.gameState.right?.score}}</h1>
  <h3>{{this.gameState.right?.username}}</h3>
</div>
<button class="back-btn" mat-mini-fab  color="warn" aria-label="Stop game" (click)="stopGame()">
  <mat-icon>stop</mat-icon>
</button>
</div>
<!--<button mat-button (click)="onClick()">new game</button>-->
<div >
  <canvas class="game-canvas" width="{{width}}" height="{{height}}" #canvasPoint>
  </canvas>
</div>
