html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(23,24,23,1);
  color: white;
  overflow: hidden;
}

.game-canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*width: 800px;*/
}

.score-block {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.player-score-container {
  margin: 10px;
  margin-right: 50px;
}

.score-block h1 {
  margin-right: 20px;
  margin-top: 10px;
  color: #673ab7;
  font-weight: bolder;
}

.score-block h3 { margin-right: 20px;
margin-top: 10px}

.game-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  height: 50px;
  margin-top: 10px;
}

.back-btn {

  /*display: flex;*/
}
