<p style="text-align: center; margin: 0 0 15px; font-size: 12pt; font-weight: 500;">
	Enter password to join chat
</p>
<mat-form-field style="width: 100%;"  appearance="fill">
	<mat-label>Enter password</mat-label>
	<input autocomplete="off" [type]="hide ? 'password' : 'text'" matInput [formControl]="password" required>
	<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
		<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
	</button>
	<mat-error *ngIf="password.hasError('validation')">{{getPasswordError()}}</mat-error>
</mat-form-field>
<div style="width: 100%; display: flex; justify-content: space-around;" mat-dialog-actions>
	<button mat-button (click)="closeDialog()">Close</button>
	<button mat-button type="submit" value="submit" (click)="onSubmit()" cdkFocusInitial>Apply</button>
</div>