<app-top-bar></app-top-bar>

<div class="match-container">
    <mat-card class="match-card">
        <mat-card-title>Play</mat-card-title>
        <mat-card-subtitle>Customize game:</mat-card-subtitle>
        <div class="button-row">
            <button mat-button color="primary" [style.color]="paddleColor"
                    [cpPosition]="'bottom'"
                    [cpPositionOffset]="'50%'"
                    [cpPositionRelativeToArrow]="true"
                    [(colorPicker)]="paddleColor">Paddle color
            </button>
            <button mat-button color="primary" [style.color]="ballColor"
                    [cpPosition]="'bottom'"
                    [cpPositionOffset]="'50%'"
                    [cpPositionRelativeToArrow]="true"
                    [(colorPicker)]="ballColor">Ball color
            </button>
        </div>
        <mat-card-subtitle>
            Tap to play:
        </mat-card-subtitle>
        <div class="ripple-container mat-elevation-z4" matRipple [matRippleUnbounded]="true" (click)="startMatch()">
            Click to play!
        </div>
    </mat-card>

</div>