table {
  width: 100%;
}

.profile-cell {
  display: flex;
}

.cell-username {
  margin-left: 10px;
  align-self: center;
}

.card-ladder {
  width: 35%;
  min-width: 350px;
  margin: auto;
  margin-top: 30px;
  padding: 50px;
  height: 350px;
}

.ladder-table {
  margin-top: 20px;
}