<div class="chat-user-name-dialog">
  <h1 mat-dialog-title>Change username</h1>
  <form class="change-username-form" id="username-form">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>NEW USERNAME</mat-label>
      <input matInput class="username-input" matInput [formControl]="username" #new_username maxlength="256" placeholder="Provide new username">
      <mat-error *ngIf="(username.hasError('maxlength') || username.hasError('minlength')) && !username.hasError('required')">
        Username length should be from 2 to 50 symbols.
      </mat-error>
      <mat-error *ngIf="username.hasError('conflict')">
        Username already taken
      </mat-error>
      <mat-hint align="end">{{new_username.value.length}} / 50</mat-hint>
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-button type="submit" form="username-form" value="submit" (click)="onSubmit()">Apply</button>
    <button mat-button (click)="closeDialog()">Close</button>
  </div>
</div>
