<div class="chat-user-avatar-dialog">
  <h1 mat-dialog-title>Upload new avatar</h1>
  <form class="change-avatar-form" id="avatar-form">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>NEW AVATAR</mat-label>
      <ngx-mat-file-input accept="image/png,image/jpeg" [formControl]="avatar" [multiple]="false" #new_avatar>
      </ngx-mat-file-input>
      <mat-error *ngIf="avatar.hasError('upload_error')">
        {{avatar.getError("upload_error")}}
      </mat-error>
      <mat-hint align="end"></mat-hint>
    </mat-form-field>
  </form>
  <div class="progress">
    <mat-progress-bar class="progress-bar" mode="determinate"
                      [value]="uploadProgress" *ngIf="uploadProgress">
    </mat-progress-bar>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit" form="avatar-form" value="submit" (click)="onSubmit()">Apply</button>
    <!--    <button mat-button (click)="closeAvatarDialog()">Close</button>-->
  </div>
</div>
