<div class="chat-user-avatar-dialog">
  <h1 mat-dialog-title>Upload new avatar</h1>
  <form class="change-avatar-form" id="username-form">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>NEW AVATAR</mat-label>
      <ngx-mat-file-input accept="image/png,image/jpeg" [formControl]="avatar" #new_avatar ><!--[formControl]="fileControl" [multiple]="multiple" [accept]="accept" [color]="color" -->
      </ngx-mat-file-input>
<!--      <mat-error *ngIf="(new_avatar.hasError('maxlength') || new_avatar.hasError('minlength')) && !new_avatar.hasError('required')">-->
<!--        Username length should be from 2 to 50 symbols.-->
<!--      </mat-error>-->
<!--      <mat-error *ngIf="new_avatar.hasError('conflict')">-->
<!--        Username already taken-->
<!--      </mat-error>-->
      <mat-hint align="end"> </mat-hint>
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-button type="submit" form="username-form" value="submit">Apply</button>
<!--    <button mat-button (click)="closeAvatarDialog()">Close</button>-->
  </div>
</div>
