<p style="text-align: center; margin: 0 0 15px; font-size: 12pt; font-weight: 500;">
	User role
</p>
<div style="height: calc(100% - 20px - 70px); overflow-y: auto; scrollbar-width: thin;">
	<mat-radio-group color="primary"
					 style="display: flex; justify-content: space-between; width: 100%"
					 [(ngModel)]="role">
		<mat-radio-button value="PARTICIPANT" [disabled]="disabledRole('PARTICIPANT')">PARTICIPANT</mat-radio-button>
		<mat-radio-button value="ADMIN" [disabled]="disabledRole('ADMIN')">ADMIN</mat-radio-button>
		<mat-radio-button value="OWNER" [disabled]="disabledRole('OWNER')">OWNER</mat-radio-button>
	</mat-radio-group>
	<div style="width: calc(100% - 5px); margin-left: 5px; color: #5b5b5b; margin-bottom: 30px" [ngSwitch]="role">
		<ul type="none" style="padding: 0; list-style-position: inside;" *ngSwitchCase="'PARTICIPANT'">
			<div style="display: flex; align-items: center;">
				<mat-icon style="color: #851d1d">close</mat-icon>
				<p style="margin: 0">Edit main chat info (name, description, avatar)</p>
			</div>
			<div style="display: flex; align-items: center;">
				<mat-icon style="color: #851d1d">close</mat-icon>
				<p style="margin: 0">Add users</p>
			</div>
			<div style="display: flex; align-items: center;">
				<mat-icon style="color: #851d1d">close</mat-icon>
				<p style="margin: 0">Block (ban/mute) users</p>
			</div>
			<div style="display: flex; align-items: center;">
				<mat-icon style="color: #851d1d">close</mat-icon>
				<p style="margin: 0">Change users role</p>
			</div>
			<div style="display: flex; align-items: center;">
				<mat-icon style="color: #851d1d">close</mat-icon>
				<p style="margin: 0">Edit chat access</p>
			</div>
		</ul>
		<ul type="none" style="padding: 0; list-style-position: inside;" *ngSwitchCase="'ADMIN'">
			<div style="display: flex; align-items: center;">
				<mat-icon style="color: #20851d">check</mat-icon>
				<p style="margin: 0">Edit main chat info (name, description, avatar)</p>
			</div>
			<div style="display: flex; align-items: center;">
				<mat-icon style="color: #20851d">check</mat-icon>
				<p style="margin: 0">Add users</p>
			</div>
			<div style="display: flex; align-items: center;">
				<mat-icon style="color: #20851d">check</mat-icon>
				<p style="margin: 0">Block (ban/mute) users</p>
			</div>
			<div style="display: flex; align-items: center;">
				<mat-icon style="color: #851d1d">close</mat-icon>
				<p style="margin: 0">Change users role</p>
			</div>
			<div style="display: flex; align-items: center;">
				<mat-icon style="color: #851d1d">close</mat-icon>
				<p style="margin: 0">Edit chat access</p>
			</div>
		</ul>
		<ul type="none" style="padding: 0; list-style-position: inside;" *ngSwitchCase="'OWNER'">
			<div style="display: flex; align-items: center;">
				<mat-icon style="color: #20851d">check</mat-icon>
				<p style="margin: 0">Edit main chat info (name, description, avatar)</p>
			</div>
			<div style="display: flex; align-items: center;">
				<mat-icon style="color: #20851d">check</mat-icon>
				<p style="margin: 0">Add users</p>
			</div>
			<div style="display: flex; align-items: center;">
				<mat-icon style="color: #20851d">check</mat-icon>
				<p style="margin: 0">Block (ban/mute) users</p>
			</div>
			<div style="display: flex; align-items: center;">
				<mat-icon style="color: #20851d">check</mat-icon>
				<p style="margin: 0">Change users role</p>
			</div>
			<div style="display: flex; align-items: center;">
				<mat-icon style="color: #20851d">check</mat-icon>
				<p style="margin: 0">Edit chat access</p>
			</div>
		</ul>
	</div>
	<div style="width: 100%">
		<p style="text-align: center; margin: 0 0 15px; font-size: 12pt; font-weight: 500;">
			User status
		</p>
		<mat-radio-group color="primary"
						 style="display: flex; justify-content: space-between; width: 100%"
						 [(ngModel)]="status">
			<mat-radio-button value="ACTIVE" [disabled]="disabledStatus('ACTIVE')">ACTIVE</mat-radio-button>
			<mat-radio-button value="MUTED" [disabled]="disabledStatus('MUTED')">MUTED</mat-radio-button>
			<mat-radio-button value="BANNED" [disabled]="disabledStatus('BANNED')">BANNED</mat-radio-button>
		</mat-radio-group>
		<div style="width: calc(100% - 5px); margin-left: 5px; color: #5b5b5b; margin-bottom: 30px" [ngSwitch]="status">
			<ul type="none" style="padding: 0; list-style-position: inside;" *ngSwitchCase="'ACTIVE'">
				<div style="display: flex; align-items: center;">
					<mat-icon style="color: #20851d">check</mat-icon>
					<p style="margin: 0">See chat info</p>
				</div>
				<div style="display: flex; align-items: center;">
					<mat-icon style="color: #20851d">check</mat-icon>
					<p style="margin: 0">Receive messages</p>
				</div>
				<div style="display: flex; align-items: center;">
					<mat-icon style="color: #20851d">check</mat-icon>
					<p style="margin: 0">Send messages</p>
				</div>
			</ul>
			<ul type="none" style="padding: 0; list-style-position: inside;" *ngSwitchCase="'MUTED'">
				<div style="display: flex; align-items: center;">
					<mat-icon style="color: #20851d">check</mat-icon>
					<p style="margin: 0">See chat info</p>
				</div>
				<div style="display: flex; align-items: center;">
					<mat-icon style="color: #20851d">check</mat-icon>
					<p style="margin: 0">Receive messages</p>
				</div>
				<div style="display: flex; align-items: center;">
					<mat-icon style="color: #851d1d">close</mat-icon>
					<p style="margin: 0">Send messages</p>
				</div>
			</ul>
			<ul type="none" style="padding: 0; list-style-position: inside;" *ngSwitchCase="'BANNED'">
				<div style="display: flex; align-items: center;">
					<mat-icon style="color: #851d1d">close</mat-icon>
					<p style="margin: 0">See chat info</p>
				</div>
				<div style="display: flex; align-items: center;">
					<mat-icon style="color: #851d1d">close</mat-icon>
					<p style="margin: 0">Receive messages</p>
				</div>
				<div style="display: flex; align-items: center;">
					<mat-icon style="color: #851d1d">close</mat-icon>
					<p style="margin: 0">Send messages</p>
				</div>
			</ul>
		</div>
		<mat-form-field *ngIf="status != 'ACTIVE'" style="width: 100%" appearance="fill">
			<mat-label>{{getDateTimeBlockLabel()}}</mat-label>
			<input matInput
				   [(ngModel)]="date"
				   [matDatepickerFilter]="dateExpireFilter"
				   [matDatepicker]="picker"
				   autocomplete="off"
				   [disabled]="user.id == participant.id">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
	</div>
</div>
<div style="width: 100%; display: flex; justify-content: space-around;" mat-dialog-actions>
	<button mat-button (click)="closeDialog()">Back</button>
	<button mat-button type="submit" value="submit" (click)="onSubmit()" cdkFocusInitial>Apply</button>
</div>