<mat-toolbar>
  <div class="logo-small">
    <div class="ts">TS</div>
  </div>
<!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
  <span class="title">Transcendence</span>
  <span class="example-spacer"></span>
  <button mat-button class="mat-button">
  GAME
  </button>
  <button mat-button class="mat-button">
    STATS
  </button>
  <button mat-button class="mat-button">
    CHATS
  </button>
  <span class="navbar-spacer"></span>
  <button mat-icon-button class="search-icon" aria-label="Search icon">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button class="profile-icon" aria-label="Profile icon">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-button class="mat-button profile">
  {{ profile }}
  </button>
<!--  <button mat-button class="mat-button">-->
<!--  </button>-->
</mat-toolbar>
