<p style="text-align: center; margin: 0 0 10px; font-size: 12pt; font-weight: 500;">
	Participants edit
</p>
<mat-form-field style="width: 100%" appearance="outline">
	<input class="chat-name-input"
		   matInput
		   type="search"
		   minlength="1"
		   maxlength="50"
		   placeholder="Search by name"
		   name="messageText"
		   autocomplete="off"
		   [formControl]="searchName">
	<mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<div infiniteScroll
	 [scrollWindow]="false"
	 [infiniteScrollUpDistance]="10"
	 [infiniteScrollThrottle]="100"
	 (scrolled)="nextPage()"
	 class="participant-list-content">
	<div class="participant-row" *ngFor="let user of users">
		<button class="select-participant" (click)="onSelect(user)">
			<img class="participant-avatar" src="{{user.avatar}}" alt="AV">
			<div class="participant-name">{{user.username}}</div>
			<mat-chip-list>
				<mat-chip [matTooltip]="getTimeBlockExpire(user)" class="participant-chip" *ngIf="user.userChatStatus == 'BANNED'" color="warn" selected>{{user.userChatStatus.slice(0,1)}}</mat-chip>
				<mat-chip [matTooltip]="getTimeBlockExpire(user)" class="participant-chip" *ngIf="user.userChatStatus == 'MUTED'" color="accent" selected>{{user.userChatStatus.slice(0,1)}}</mat-chip>
				<mat-chip [matTooltip]="'Role: ' + user.userChatRole.toLowerCase()" class="participant-chip" *ngIf="user.userChatStatus == 'ACTIVE'">{{user.userChatRole.slice(0,1)}}</mat-chip>
			</mat-chip-list>
		</button>
		<div>
			<button mat-icon-button style="width: 24px" [matMenuTriggerFor]="menu">
				<mat-icon style="color: #646464;">more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item (click)="goToProfile(user)"
						style="font-size: 10pt; height: 35px; line-height: 35px">
					User profile
				</button>
				<button mat-menu-item (click)="inviteToPlay(user)"
						style="font-size: 10pt; height: 35px; line-height: 35px"
						[disabled]="!availableToMatch(user)">
					Invite to play
				</button>
				<button mat-menu-item (click)="onDelete(user)"
						style="font-size: 10pt; height: 35px; line-height: 35px"
						[disabled]=!availableEdit(user)>
					Remove participant
				</button>
			</mat-menu>
		</div>
	</div>
</div>
<div style="width: 100%; display: flex; justify-content: space-around" mat-dialog-actions>
	<button mat-button (click)="closeDialog()">Back</button>
</div>
