<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No.</th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="player">
    <th mat-header-cell *matHeaderCellDef> Player</th>
    <td mat-cell *matCellDef="let element"><div class="profile-cell"> <img class="cell-avatar" width="32px" [src]="element.player.avatarImg" /> <div class="cell-username">{{element.player.username}} </div></div></td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="games_played">
    <th mat-header-cell *matHeaderCellDef> Games played</th>
    <td mat-cell *matCellDef="let element"> {{element.games_played}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="games_won">
    <th mat-header-cell *matHeaderCellDef> Games won</th>
    <td mat-cell *matCellDef="let element"> {{element.games_won}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="this.ladderColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: this.ladderColumns;"></tr>
</table>
