<p style="text-align: center; margin: 0 0 10px; font-size: 12pt; font-weight: 500;">
	Chat info
</p>
<div class="chat-info-block">
	<div class="chat-info-header">
		<div *ngIf="chatDetails.avatar == null" class="chat-info-avatar">
			<p class="chat-info-short-name">{{chatDetails.name.slice(0,2)}}</p>
		</div>
		<div *ngIf="chatDetails.avatar != null" (click)="delegate($event)" [ngStyle]="{'cursor' : getCursor()}">
			<input (change)="uploadAvatar($event)"
				   accept="image/*"
				   id="imageInput"
				   style="display: none"
				   type="file">
			<img class="chat-info-avatar" src="{{chatDetails.avatar}}" alt="AV">
		</div>
		<div class="chat-info-name-access">
			<p class="chat-info-name text">{{chatDetails.name}}</p>
			<p class="chat-info-date-create">Created: {{chatDetails.dateTimeCreate.toLocaleDateString()}}</p>
		</div>
		<mat-icon style="margin-left: auto; color: #9f9f9f"
				  *ngIf="canUpdateInfo()"
				  class="adjust-icon"
				  (click)="editHeader()">
			edit
		</mat-icon>
	</div>
	<div class="chat-info-part">
		<div class="chat-info-part-header">
			<p style="padding: 0; margin: 0">DESCRIPTION</p>
			<mat-icon *ngIf="canUpdateInfo()"
					  class="adjust-icon" (click)="editHeader()">edit</mat-icon>
		</div>
		<p class="text" style="font-size: 12px; line-height: 1; margin: 0;">
			{{chatDetails.description != null ? chatDetails.description : 'Not set'}}
		</p>
	</div>
	<div class="chat-info-part">
		<div class="chat-info-part-header">
			<p style="padding: 0; margin: 0">ACCESS</p>
			<mat-icon *ngIf="canUpdateAccess()"
					  class="adjust-icon" (click)="editPassword()">
				edit
			</mat-icon>
		</div>
		<p style="font-size: 12px; line-height: 1; margin: 0;">
			{{chatDetails.type == 'PROTECTED' ? 'PROTECTED. Password set: ' + chatDetails.dateTimePasswordChange.toLocaleDateString() : chatDetails.type}}
		</p>
	</div>
	<div class="chat-info-part">
		<div class="chat-info-part-header">
			<p style="padding: 0; margin: 0">PARTICIPANTS</p>
			<div class="adjust-container" *ngIf="canEditParticipants()">
				<mat-icon class="adjust-icon" (click)="addParticipants()">
					add_circle
				</mat-icon>
				<mat-icon *ngIf="chatDetails.userCount > 1"
						  style="margin-left: 3px" class="adjust-icon"
						  (click)="editParticipants()">
					edit
				</mat-icon>
			</div>
			<mat-icon *ngIf="chatBrief.verified && chatBrief.userChatRole == 'PARTICIPANT'" class="adjust-icon" (click)="editParticipants()">
				remove_red_eye
			</mat-icon>
		</div>
		<p style="font-size: 12px; line-height: 1; margin: 0">Participants number: {{chatDetails.userCount}}</p>
	</div>
</div>
<div style="width: 100%; display: flex; justify-content: space-around" mat-dialog-actions>
	<button mat-button [mat-dialog-close]="false">Close</button>
	<button mat-button *ngIf="chatBrief.verified" (click)="leaveChat()" type="submit" color="warn" value="submit">Leave chat</button>
	<button mat-button *ngIf="!chatBrief.verified" (click)="joinInChat()" type="submit" color="primary" value="submit" cdkFocusInitial>Join in chat</button>
</div>