<p style="text-align: center; margin: 0 0 15px; font-size: 12pt; font-weight: 500;">
	Access type edit
</p>
<div style="width: 100%; height: calc(100% - 20px - 70px); overflow-y: auto; scrollbar-width: thin;">
	<mat-radio-group color="primary" style="display: flex; justify-content: space-between; width: 100%" aria-label="Select chat access type"
					 [(ngModel)]="type">
		<mat-radio-button value="PUBLIC">PUBLIC</mat-radio-button>
		<mat-radio-button value="PROTECTED">PROTECTED</mat-radio-button>
		<mat-radio-button value="PRIVATE">PRIVATE</mat-radio-button>
	</mat-radio-group>
	<div style="width: calc(100% - 5px); margin-left: 5px; color: #5b5b5b; margin-bottom: 15px" [ngSwitch]="type">
		<ul class="access-type-description" *ngSwitchCase="'PUBLIC'">
			<li>Everyone can find</li>
			<li>Everyone can join</li>
			<li>Everyone can be added by OWNER or ADMIN</li>
		</ul>
		<ul class="access-type-description" *ngSwitchCase="'PROTECTED'">
			<li>Everyone can find</li>
			<li>Everyone who knows password can join</li>
			<li>Everyone can be added by ADMIN or OWNER</li>
		</ul>
		<ul class="access-type-description" *ngSwitchCase="'PRIVATE'">
			<li>Nobody can find</li>
			<li>Nobody can join</li>
			<li>Everyone can be added by ADMIN or OWNER</li>
		</ul>
	</div>
	<div style="width: 100%" *ngIf="type == 'PROTECTED'">
		<mat-form-field style="width: 100%;"  appearance="fill">
			<mat-label>Enter password</mat-label>
			<input autocomplete="off" [type]="hide ? 'password' : 'text'" matInput [formControl]="password" [required]="required">
			<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
				<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
			<mat-error *ngIf="password.hasError('validation')">{{getPasswordError()}}</mat-error>
		</mat-form-field>
		<mat-checkbox style="margin-top: -5px" [(ngModel)]="dropVerification" color="primary">
			Drop access for PARTICIPANTs
		</mat-checkbox>
	</div>
</div>
<div style="width: 100%; display: flex; justify-content: space-around;" mat-dialog-actions>
	<button mat-button (click)="closeDialog()">Back</button>
	<button mat-button type="submit" value="submit" (click)="onSubmit()" cdkFocusInitial>Apply</button>
</div>