.user-list-content {
    overflow-y: auto;
    scrollbar-width: thin;
    height: calc(100% - 20px - 70px - 70px);
}

.user-row {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-row:hover {
    background: #e8e8e8;
    cursor: pointer;
}

.user-row[disabled] {
    color: #c0c0c0;
}

.user-row[disabled]:hover {
    background: white;
}

.select-user {
    height: auto;
    flex-basis: calc(100% - 36px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    border: none;
    background: inherit;
    cursor: inherit;
}

.user-avatar {
    border-radius: 50%;;
    background-color: white;
    width: 33px;
    height: 33px;
}

.user-name {
    font-size: 10pt;
    flex-basis: calc(100% - 45px);
    word-break: break-all;
    padding-right: 5px;
}

.user-checkbox {
    margin: 0;
    width: 33px;
}