<!--<app-top-bar></app-top-bar>-->
<div class="friend-list">
  <div mat-subheader class="friend-list-subheader">FRIENDS
    <span class="spacer"></span>
    <button class="friend-list-options" *ngIf="selectedUser" mat-icon-button aria-label="Friendlist options" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="removeFriend()">Remove friend</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
  <mat-selection-list class="list" #friends [multiple]="false" [color]="'primary'" (selectionChange)="onListClick($event.options[0].value)" >

    <mat-list-option *ngFor="let friend of friendList " [value]="friend">
      <img matListAvatar src="http://localhost:3000/{{friend.avatarImgName}}" alt="Friend avatar">
      {{friend.username}}
    </mat-list-option>
  </mat-selection-list>
  <button class="fub-button" mat-fab color="primary" aria-label="Add new friend" (click)="addFriendDialogOpener()">
    <mat-icon>add</mat-icon>
  </button>
</div>
